if SHIELD_HWELORA_RIGHT

config ZMK_KEYBOARD_NAME
    default "HW Elora"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HWELORA_LEFT || SHIELD_HWELORA_RIGHT

config ZMK_SPLIT
    default y

endif